# Rust
# ---------------------------------------

# library, so we don't need this
Cargo.lock
# built stuff
target/

# C++
# ---------------------------------------

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build artefacts
build/
